# .NET
bin/
obj/
.vs/
*.user
*.suo

# Config
appsettings.Development.json

# Node / Electron
node_modules/
dist/
out/
build/
release/
win-unpacked/
linux-unpacked/
mac/
*.exe
*.dmg
*.AppImage
**/electron/dist/
**/electron.exe

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
