#manage-ticket-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 1000px;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 30px 20px;
}

form {
    margin: 0;
}

label {
    margin-bottom: 4px;
}

.form-row{
    display:flex;
    gap: 50px;
    margin-bottom: 10px;
}

    .form-row > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
    }


.form-field {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 6px 8px;
}


.form-buttons {
    display: flex;
    gap: 6px;
    margin-top: 30px;
    justify-content: flex-start;
}

#ticketDesc {
    background-color: white;
    width: 100%;
    white-space: pre-wrap;
}
