#manage-ticket-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /*margin: 20px 0;*/
    /*max-height: 500px;*/
    /*min-height: 70vh;*/
    width: 1000px;
    overflow-y: auto;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background-color: #e8f0fe;
    padding: 30px 20px;
}

form {
    margin: 0;
}

label {
    /*font-weight: bold;*/
    margin-bottom: 4px;
}

.form-row{
    display:flex;
    gap: 50px;
    margin-bottom: 10px;
}

    .form-row > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    /* Make single-field rows full width */
    /*.form-row.single > div {
        flex: 0 0 100%;
    }*/

.form-field {
    background-color: ghostwhite;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 6px 8px;
}


.form-buttons {
    display: flex;
    gap: 6px;
    margin-top: 30px;
}

#ticketDesc {
    background-color: ghostwhite;
    width: 100%;
    white-space: pre-wrap; /* preserves whitespace & line breaks */
}
