#tickets-container {
    padding-bottom: 40px;
    overflow-y: auto;
    height: 83vh;
}

    #tickets-container .app-table {
        margin-top: -5px;
    }

#card-header-container{
    display: flex;
    /*max-height:*/
}

#sprint-header {
    margin-bottom: 30px;
    width: fit-content;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #6289af;
    padding: 20px;
}

.card-header {
    margin-bottom: 30px;
    width: fit-content;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid #6289af;
    padding: 20px;
}

.section-container {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

    .section-container .app-table .app-table-header:first-child{
        max-width: 4%;
    }

    .goto-ticket primary-btn {
        margin-bottom: 2px;
        margin-top: 2px;
    }

.paginate {
    border: none;
    border: 1px solid lightgray; /*#cdd9e5;*/
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
    max-height: 24px;
    border-radius: 3px;
    color: black;
}

.pagination-container {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pagination-buttons {
    width: 46%;
}


.dv-btns-container {
    margin-left: 20px;
    display: flex;
    gap: 2px;
    width: 42%;
}

.record-count{
    
}

#heading-setting-container {
    display: flex;
    justify-content: space-between;
}

.btnAddTicket{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: inherit;
}

.active-tab {
    color: black !important;
    text-decoration: none;
}

a.active-tab:hover {
    color: black !important;
    text-decoration: none !important;
    cursor: default !important;
}

#filter-container{
    align-items: center;
    margin-bottom: 20px;
}

#section-filter {
    margin-left: 10px;
    border-radius: 5px;
}