#tickets-container {
    padding-bottom: 40px;
    overflow-y: auto;
    height: 83vh;
}

    #tickets-container .app-table {
        margin-top: -5px;
    }

#sprint-header {
    margin-bottom: 30px;
    width: fit-content;
}

.section-container {
    background-color: white;
    /*border: 1px solid gray;*/
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.goto-ticket primary-btn {
    margin-bottom: 2px;
    margin-top: 2px;
}

.paginate {
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
    max-height: 24px;
    border-radius: 3px;
}

.pagination-container {
    display: flex;
    justify-content: flex-start;
    gap: 33%;
    margin-top: 10px;  /*spacing from table */
}

.dv-btns-container{
    margin-left: 20px;
    display: flex;
    gap: 2px;
}

#heading-setting-container {
    display: flex;
    justify-content: space-between;
}

.btnAddTicket{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: inherit;
}


#filter-container {
    margin-left: 32%;
}

#section-filter:has(> *) {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    display: flex;
    height: 25px;
    width: fit-content;
    padding-right: 30px;
    margin-bottom: 5px;
}

#section-filter > ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

    #section-filter > ul > li {
        list-style: none;
    }

.active-tab {
    color: black !important;
    text-decoration: none;
}

a.active-tab:hover {
    color: black !important;
    text-decoration: none !important;
    cursor: default !important;
}

.content-container {
    /*margin-top: 10px;*/
}