#ticket-settings-container{
    display: flex;
    justify-content: center;
}

#dv-sections-container,
#dv-sprint-container,
#section-names {
    border-radius: 10px;
    background-color: white;
    border: 1px solid lightgray;
}

#dv-ticket-setup {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    max-width: fit-content;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 0 auto;
}

#dv-sections-container {
    max-width: 40%;
    max-height: 500px;
    min-height: 175px;
}

#section-names {
    min-width: 20%;
    margin-top: -20px;
}

#dv-section-header {
    display: flex;
    justify-content: space-between;
    background-color: #55c792;
    max-height: 35px;
 /*   color: white;*/
/*    padding: 5px 0;*/
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#dv-sprint-container {
    max-width: 55%;
    max-height: 500px;
    min-height: 175px;
}

.delete-section {
    display: inline-block;
    border-radius: 5px;
    padding: 2px 10px 4px 8px;
    margin: 2px;
    position: relative;
    cursor: pointer;
    /*background-color: #f8f9fa;*/
    box-shadow: .5px .5px 1px .5px #120d0dba;
}

    .delete-section .delete {
        position: absolute;
        bottom: -3px;
        right: 1px;
        cursor: pointer;
        font-weight: 400;
        font-size: 0.9rem;
        color: black;
    }

#section-title-input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5px;
}

#save-btn-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#btn-container{
    display:flex;
    justify-content:flex-start;
}

#start-date, #end-date{
    border: 1px solid black;
    border-radius: 5px;
}

#undo-section-btn, #add-section-btn{
    border: none;
    background: inherit;
    height: 0;
}

    #undo-section-btn:first-child {
        color: blue !important;
    }

#add-section-btn:first-child {
    color: green !important;
}

label {
    padding-right: 5px;
}

#section-settings {
    display:none;
    margin-top: 10px;
}

    #section-settings:has(> *) {
        display: block;
    }

#sprint-dates-container{
    margin-top: 20px;
}

#dv-end-date{
    padding-top: 10px;
}

#dv-end-date > label {
    padding-right: 10px;
}

#sections-container{
    margin-top: 20px;
}

.fa-rotate-left{
    color: white;
}

#sprint-content,
#section-title-content,
#section-content{
    padding: 10px;
    padding-bottom: 20px;
}