#dv-sections-container,
#dv-sprint-container,
#section-names {
    border-radius: 10px;
    background-color: white;
    border: 1px solid lightgray;
}

    #section-names{
        width: 25%;
    }

#dv-ticket-setup {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    max-width: fit-content;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
}

#dv-sections-container {
    max-width: 40%;
    max-height: 500px;
    min-height: 175px;
}

#dv-section-header {
    display: flex;
    justify-content: space-between;
    background-color: #55c792;
    max-height: 35px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#dv-sprint-container {
    max-width: 55%;
    max-height: 500px;
    min-height: 175px;
}

.delete-section {
    display: inline-block;
    border-radius: 5px;
    padding: 2px 8px;
    padding-right: 16px;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 2px;
    position: relative;
    background-color: slategray;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid white;
    width: fit-content;
}

    .delete-section[disabled] {
        display: inline-block;
        border-radius: 5px;
        padding: 2px 8px;
        font-size: 14px;
        margin-right: 5px;
        position: relative;
        background-color: #e6e8e9;
        color: slategray;
        cursor: default;
        border: 1px solid slategray;
    }


    .delete-section .delete {
        position: absolute;
        bottom: -3px;
        right: 5px;
        cursor: pointer;
        font-weight: 400;
        font-size: 0.9rem;
        color: white;
    }

#section-title-input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5px;
}

#save-btn-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#btn-container{
    display:flex;
    justify-content:flex-start;
}

#start-date, #end-date{
    border: 1px solid black;
    border-radius: 5px;
}

#undo-section-btn, #add-section-btn{
    border: none;
    background: inherit;
    height: 0;
}

    #undo-section-btn:first-child {
        color: blue !important;
    }

#add-section-btn:first-child {
    color: green !important;
}

label {
    padding-right: 5px;
}

#section-settings {
    display:none;
    max-height: 20vh;
}

    #section-settings:has(> *) {
        display: flex;
        flex-direction:column; 
        flex-wrap: wrap;
    }

#sprint-dates-container{
    margin-top: 20px;
}

/*#dv-end-date{
    padding-top: 10px;
}

#dv-end-date > label {
    padding-right: 10px;
}*/

#dv-sprint-length {
    padding-top: 10px;
}

    #dv-sprint-length > label {
        padding-right: 10px;
    }

    #dv-sprint-length > input {
        width: 50px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        background-color: white;
        margin-bottom: 5px;
    }

#sections-container {
    margin-top: 20px;
}

.fa-rotate-left{
    color: white;
}

#sprint-content,
#section-title-content,
#section-content{
    padding: 10px;
    padding-bottom: 20px;
}

#sprint-content {
    margin-left: 10px;
}

#section-title-content{
    padding-right: 100px;
    margin-top: 20px;
}

#txt-repeat {
    margin-top: 15px;
    margin-left: 10px;
}

hr {
    padding: 0;
    margin: 0;
    margin-left: 40px;
    max-width: 90%;
}