<link href="~/css/home.css" rel="stylesheet" asp-append-version="true"/>

<div id="home-container">
    <div id="goToWebApp">
        <h3>Welcome @Context.Session.GetString("FirstName")</h3>
        <button id="goToDashboard" class="btn btn-primary" onclick="goToWebApp();">Go to app</button>
    </div>
</div>

<script>
    // const preInstall = document.getElementById('pre-install-container');
    // const postInstall = document.getElementById('post-install-container');
    // const installBtn = document.getElementById('installPWA');
    // const dashboardBtn = document.getElementById('goToDashboard');

    // function downloadApp() {
    //     window.location.href = '@@Url.Content("~/executables/VoyagePWA.exe")';
    // }

    function goToWebApp(){
        window.location.href = '@Url.Action("Index", "App")';
    }
</script>
