@model MainVM

@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<script type="module" src="~/js/main.js" asp-append-version="true"></script>

<div class="app-layout">
    @{ await Html.RenderPartialAsync("~/Views/App/Main.cshtml"); }
</div>
