<header>
    <nav id="header-nav">

        <!-- Brand / Logo -->
        <a class="navbar-brand" href="@Url.Action("Index", "Website")">
            <img id="logo" src="~/img/EVEREST LOGO.svg" alt="Everest Logo Home Button" />
        </a>

        <!-- Navbar Links -->
        <div id="dv-navbar-page-title">
        </div>


        <!-- Right side (Login & Register buttons) -->

        <div id="dv-header-right">
            @if (User.Identity?.IsAuthenticated == true)
            {
                <button id="settings-icon">
                    <i class="fa-solid fa-gear"></i>
                </button>

                <button id="user-icon">
                    <i class="fa-solid fa-user"></i>
                </button>

                <form asp-controller="User"
                      asp-action="Logout"
                      method="post"
                      class="d-inline">

                    @Html.AntiForgeryToken()

                    <a href="#" class="nav-link">Logout</a>
                </form>
            }
            else
            {
                <a href="@Url.Action("Login", "User")" class="btn">
                    Login
                </a>
                <a href="@Url.Action("Register", "Company")" class="btn">
                    Register
                </a>
            }

        </div>
    </nav>
</header>


