<div id="settings-container">
    <aside id="settings-side-nav">
        <ul id="settings-nav-items">
            <li>
                <button id="btn-settings-home" type="button">Home</button>
            </li>
            <li>
                <button id="btn-settings-calendar" type="button">Calendar</button>
                </li>
            <li>
                <button id="btn-settings-tickets" type="button">Tickets</button>
                </li>
            <li>
                <button id="btn-settings-hr" type="button">Human Resources</button>
                </li>
            <li>
                <button id="btn-settings-marketing" type="button">Marketing</button>
                </li>
            <li>
                <button id="btn-settings-sales" type="button">Sales</button>
            </li>
        </ul>
    </aside>
    <div id="settings-content"></div>
</div>