@model MainVM

<link href="~/css/main.css" rel="stylesheet" asp-append-version="true"/>

<div class="app-main">
    
    <div class="main-content">
        <div id="dashboard-view" class="view active"></div>
        <div id="ticket-view" class="view hidden"></div>
        <div id="chat-view" class="view hidden"></div>
        <div id="sales-view" class="view hidden"></div>
        <div id="marketing-view" class="view hidden"></div>
        <div id="finance-view" class="view hidden"></div>
        <div id="inventory-view" class="view hidden"></div>
        <div id="crm-view" class="view hidden"></div>
        <div id="toolbox-view" class="view hidden"></div>
        <div id="forum-view" class="view hidden"></div>
        <div id="settings-view" class="view hidden"></div>
    </div>
</div>




