@model MainVM

<link href="~/css/main.css" rel="stylesheet" asp-append-version="true"/>

@{
    int? companyId = Context.Session.GetInt32("CompanyId");
    Layout = "~/Views/Shared/AppLayout.cshtml";
}

@* update breadcrumb on module init *@
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        @* <li class="breadcrumb-item active"><a href="#">Home</a></li> *@
    </ol>
</nav>

<div class="app-main">
    <div class="main-content container"></div>
</div>
<input type="hidden" id="hdnCompanyId" value="@companyId" />

<script type="module" src="~/js/main.js" asp-append-version="true"></script>


