@model MainVM

<link href="~/css/main.css" rel="stylesheet" asp-append-version="true"/>

@{
    int? companyId = Context.Session.GetInt32("CompanyId");
    Layout = "~/Views/Shared/AppLayout.cshtml";
}

<div class="app-main">
    
    <div class="main-content container">
        <div id="hr-view" class="view active container">
            @{
                await Html.RenderPartialAsync("~/Views/App/HR/_HrControl.cshtml", Model.HrVM);
            }
        </div>
        <div id="ticket-view" class="view hidden container"></div>
        <div id="chat-view" class="view hidden container"></div>
        <div id="sales-view" class="view hidden container"></div>
        <div id="marketing-view" class="view hidden container"></div>
        <div id="finance-view" class="view hidden container"></div>
        <div id="inventory-view" class="view hidden container"></div>
        <div id="crm-view" class="view hidden container"></div>
        <div id="toolbox-view" class="view hidden container"></div>
        <div id="forum-view" class="view hidden container"></div>
        <div id="settings-view" class="view hidden container">
            @{
                await Html.RenderPartialAsync("~/Views/App/AdminSettings/_AdminSettings.cshtml");
            }
        </div>
    </div>
</div>
<input type="hidden" id="hdnCompanyId" value="@companyId" />

<script type="module" src="~/js/main.js" asp-append-version="true"></script>


