<div id="admin-settings-container" class="container">

    <div id="admin-settings-header" class="container">
        <ul class="nav nav-tabs">
            <li>
                <button type="button" class="admin-settings-tab nav-link active" data-tab="Permissions">Permissions</button>
            </li>
           @*  <li>
                <button type="button" class="admin-settings-tab nav-link" data-tab="TeamPermissions">Team Permissions</button>
            </li>
            <li>
                <button type="button" class="admin-settings-tab nav-link" data-tab="DepartmentPermissions">Department Permissions</button>
            </li>
            <li>
                <button type="button" class="admin-settings-tab nav-link" data-tab="RolePermissions">Role Permissions</button>
            </li> *@
        </ul>

        <div class="setting-container">
            <button class="settings-btn">
                <i class="fa-solid fa-gear"></i>
            </button>
        </div>
    </div>

    <div id="admin-settings-partial-container" class="container">
    </div>

</div>