.offcanvas{
    max-width: 20%;
}

span{
    float: right;
}

#nav-items, #nav-items ul {
    list-style: none;
}

.submenu > li{
    border-left: 1px solid lightgrey;
}

li {
    padding:5px;
}

.icon-circle {
    display: inline-flex; /* center contents */
    align-items: center;
    justify-content: center;
    width: 40px; /* circle size */
    height: 40px;
    border: 2px solid #1f2937; /* circle border */
    border-radius: 50%; /* make it round */
    background-color: #f3f4f6; /* optional fill */
    color: #1f2937; /* icon color */
    font-size: 18px; /* adjust icon size */
    margin-top: 50px;
    margin-bottom: 50px;
}

#side-nav-header{
    display:flex;
    justify-content:center;
}

.active-page {
    background-color: #e6e6e6;
}

/*.side-nav {
    position: fixed;
    top: 56px;
    left: 0;
    width: 200px; 
    height: calc(100vh - 56px); 
    overflow-y: auto;
    background-color: #e8f0fe; 
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
}

    .side-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .side-nav .nav-item {
        padding: 14px 20px;
        cursor: pointer;
        transition: background 0.2s;
    }

        .side-nav .nav-item:hover {
            background: #1f2933;
        }

        .side-nav .nav-item.active {
            background: #4B91F7;
        }

.view {
    padding: 20px;
}

.hidden {
    display: none;
}
*/