#ticket-view{
    width: 1400px;
    margin-top: 30px;
}

#sprint-header {
    display: flex;
    align-items: center;
}

    #sprint-header h4:last-child {
        margin-left: auto;
    }

.section-container {
    background-color: #e8f0fe;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.goto-ticket primary-btn {
    margin-bottom: 2px;
    margin-top: 2px;
}

.paginate {
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
    max-height: 24px;
    border-radius: 3px;
}

.pagination-container {
    display: flex;/* activate flexbox */
    justify-content: center; /* center horizontally */
    gap: 8px; /* space between buttons */
    margin-top: 10px;  /*spacing from table */
}

