#sprint-header {
    display: flex;
    align-items: center;
}

    #sprint-header h4:last-child {
        margin-left: auto;
    }

.goto-ticket primary-btn {
    margin-bottom: 2px;
    margin-top: 2px;
}

.paginate {
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.5);
    background-color: #86b7fe17;
    max-height: 24px;
}

.pagination-container {
    display: flex;/* activate flexbox */
    justify-content: center; /* center horizontally */
    gap: 8px; /* space between buttons */
    margin-top: 10px;  /*spacing from table */
}