#ticket-settings-container {
    width: 1000px;
    margin-top: 30px;
    background-color: #e8f0fe;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.delete-section {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 10px 4px 8px;
    margin: 2px;
    position: relative;
    cursor: pointer;
    /*background-color: ghostwhite;*/
}

    .delete-section .delete {
        position: absolute;
        bottom: -3px;
        right: 1px;
        cursor: pointer;
        font-weight: 500;
        font-size: 0.9rem;
        color: black;
    }

#section-title-input{
    border: 1px solid black;
    border-radius:5px;
    background-color: ghostwhite;
}
