.breadcrumb {
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 7px;
    padding: 10px;
    background-color: white;
    max-width:fit-content;
    font-style: italic;
}

#main-content-header {
    display: flex;
    justify-content: space-between;
}

.btn-settings {
    border: none;
    background-color: inherit;
}

