.breadcrumb {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 7px;
    padding: 10px;
    background-color: white;
    max-width:fit-content;
    font-style: italic;
}

.breadcrumb-item > a {
    color: #007fff !important;
}

#main-content-header {
    display: flex;
    justify-content: space-between;
}

.btn-settings {
    border: none;
    background-color: inherit;
}

.main-content{
    max-width:99%;
}