h1 {
    padding-top: 100px;
    font-size: 32px !important;
}

h4 {
    margin-bottom: 60px;
}

.text-error {
    color: #ff6b6b;
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
    display: none;
}

.form-container {
    border: 1px solid black;
    padding: 50px 50px;
}

.dv-btn-container {
    margin-top: 60px;
    margin-bottom: 10px;
}

.secondary-btn {
    margin-left: 3px;
    display: inline;
}

.row{
    margin-bottom: 5px;
}

input{
    margin-left:10px;
    width:100%;
}
input, select {
    background-color: ghostwhite;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 6px 8px;
}

#phoneCountryCode {
    margin-left: 10px;
}

#phoneAreaCode{
    margin-left: 20px;
}

/*.register-link {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
    align-self: flex-start;
}

.register-link:hover {
    color: #4ecca3;
}

*/