html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #86b7fe17;
}

.border-error {
    border: 1px solid red !important;
}

.text-error {
    color: red !important;
}

.app-main {
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
}

.app-table{
    border-collapse: collapse; /*remove double borders*/
    width: 100%;
}

    .app-table, .app-table-header, .app-table-data {
        border: 1px solid #000000
    }

    .app-table-header, .app-table-data {
        padding: 8px;
        text-align: left;
    }

.message-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4caf50;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    opacity: 0;
    transition: opacity .4s ease;
    z-index: 9999;
}

    .message-popup.show {
        opacity: 1;
    }

.hidden {
    display: none;
}

.primary-btn {
    padding: 4px 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: #4B91F7;
    background-origin: border-box;
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
    /*user-select: none;*/
    -webkit-user-select: none;
    touch-action: manipulation;
}

.secondary-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    color: #3D3D3D;
    background: #fff;
    border: none;
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.app-table-row:nth-child(odd) {
    background-color: #86b7fe17;
}

.app-table-row:nth-child(even) {
    background-color: #f8f9fa;
}

