.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    max-width: 85% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    background-color: white;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#header-nav {
    display: flex;
    justify-content: space-around;
    gap: 15rem;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
    background-color: #f3f4f6;
    position: relative; /* needed for absolute child positioning */
    box-shadow: .5px .5px #0000004d;
}

.icon-circle {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*height: 40px;*/
    /*border: 1px solid #1f2937;*/ /* circle border */
    border-radius: 50%; /* make it round */
    background-color: lightgray; /* optional fill */
    color: #1f2937; /* icon color */
    font-size: 18px; /* adjust icon size */
}

#dv-header-right{
    display:flex;
    align-items: center;
}

#navbarNav > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
   
}

    #navbarNav > ul > li {
        font-weight: 600;
        color: slategray;
    }

#navbar-brand {
  /*  font-weight: 600;
    color: slategray;*/
}

/*#dv-nav-brand {
    left: 0;
    position: fixed;
    margin-left: 50px;
}*/

.border-error {
    border: 1px solid red !important;
}

.text-error {
    color: red !important;
}

.app-layout {
    display: flex;
    justify-content: center; /* horizontally center content */
    padding: 20px;
}

.app-main {
    flex: 1; /* take remaining space */
    display: flex;
    justify-content: center; /* horizontally center content */
    align-items: flex-start; /* top align */
}

.app-table {
    width: 100%;
    table-layout: fixed !important;
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 10px;
}

.app-table-row {
       border: 1px solid lightgray;
}

.app-table-header,
.app-table-data {
 /*   border: 1px solid lightgray;*/
    padding: 8px;
    text-align: left;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.app-table td input,
.app-table td select {
    margin-left: 2px;
    width: 100%;
    box-sizing: border-box;
}

.app-table-header:first-child,
.app-table-data:first-child {
    width: 4% !important;
    text-align: center !important;
    border-right: 1px solid lightgray;
    /* padding: 4px !important;*/
}

.app-table td:first-child input[type="checkbox"] {
    width: auto;
    margin: 0;
    padding: 0;
}

.message-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4caf50;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    opacity: 0;
    transition: opacity .4s ease;
    z-index: 9999;
}

    .message-popup.show {
        opacity: 1;
    }

.primary-btn {
    padding: 3px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: #4B91F7;
    background-origin: border-box;
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
    -webkit-user-select: none;
    touch-action: manipulation;
}

.secondary-btn {
    align-items: center;
    padding: 3px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    color: #3D3D3D;
    background: #fff;
    border: none;
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.warning-btn {
    align-items: center;
    padding: 3px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: 1px solid #ff9999;
    color: black;
    background-color: #f7d5d5;
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:disabled,
button.disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #ccc;
    color: #666;
    pointer-events: none;
}

.autocomplete-list {
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
    border-radius: 4px;
    z-index: 2147483647;
    max-height: 220px;
    overflow-y: auto;
    display: none;
    box-shadow: 0 3px 3px gray;
    border: 1px solid black;
    width: max-content;
}

    .autocomplete-list.show {
        display: block;
        position: fixed; /* overrides absolute */
        z-index: 2147483647;
    }

    .autocomplete-list li {
        padding: 6px 10px;
        white-space: nowrap;
    }

.autocomplete-wrapper {
    position: relative;
}

.hidden {
    display: none !important;
}

.heading-setting-container{
    display: flex;
}

.settings-btn {
    margin-top: 25px;
    border: none;
    background-color: inherit;
}

select:has(option[value=""]:checked){
    color:gray;
}

.grid-btn-container{
    display: flex;
    justify-content: flex-start;
    margin-top:30px;
}

.add-remove-grid-container{
    margin-left: -10px;
}

.grid-save-btn{
    margin-right: -10px;
}

i {
    color: #555151;
}