#header-nav {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    background-color: #6289af;
    align-items: center;
    /*position: relative;*/ /* needed for absolute child positioning */
}

.navbar-brand {
    color: white;
    margin-left: 35px;
    min-width: 45%;
}

#dv-header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

#dv-header-right > a {
  color: white;
}

#dv-navbar-items {
    display: flex;
    flex-direction: row;
    min-width: 45%;
}

#navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

    #navbar-items > li {
        font-weight: 600;
        color: slategray;
    }

.nav-link {
    color: white !important;
    font-weight: 400;
}
