<div id="role-permissions-container" class="container">

    <form>
        <div class="role-permissions-header">
            <h4>@ViewBag.RoleName Permissions</h4>
        </div>

        <div id="dv-permissions">
            <input type="checkbox" value="" />

            <input type="checkbox" value="" />

            <input type="checkbox" value="" />
        </div>
    </form>

</div>
<input id="hdn-rolekey" type="hidden" value="@ViewBag.RoleName" />