#role-permissions-container {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
}

#role-permissions-header {
    display: flex;
    align-items: center;
    position: relative;
}

#header-title {
    margin: 0;
}

#role-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

#dv-permissions{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.permission-col {
    flex: 0 0 25%; /* 4 columns */
    box-sizing: border-box;
    padding: 1.5rem;
}

.lbl-inherit-permission{
    color: red;
}

#role-permissions-btn-container{
    display: flex;
    justify-content: flex-end;
}