<link href="~/css/_sidenav.css" rel="stylesheet" />

<nav class="side-nav">
    <ul>
        <li class="nav-item active" data-target="hr-view">Human Resources</li>
        <li class="nav-item" data-target="ticket-view">Tickets</li>
        <li class="nav-item" data-target="chat-view">Chat</li>
        <li class="nav-item" data-target="sales-view">Sales</li>
        <li class="nav-item" data-target="marketing-view">Marketing</li>
        <li class="nav-item" data-target="finance-view">Finance</li>
        @* <li class="nav-item" data-target="inventory-view">Inventory</li> *@
        <li class="nav-item" data-target="toolbox-view">Toolbox</li>
        <li class="nav-item" data-target="forum-view">Forum</li>
        <li class="nav-item" data-target="settings-view">Admin Settings</li>
    </ul>
</nav>