@{
    var user = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Voyage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Voyage.styles.css" asp-append-version="true" />
</head>

<body>
@*     <div class="electron-titlebar">
        <span class="app-title">Voyage Download</span>
        <div class="window-controls">
            <button onclick="window.electronAPI?.minimizeWindow()">−</button>
            <button onclick="window.electronAPI?.maximizeWindow()">□</button>
            <button onclick="window.electronAPI?.closeWindow()">×</button>
        </div>
    </div> *@

    @await Html.PartialAsync("_Header");

    @{
        await Html.RenderPartialAsync("~/Views/Shared/_SideNav.cshtml"); 
    }


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <input id="hdnUser" value="@user" type="hidden" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
