#assign-department-container {
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: white;
}

.assign-dept-header {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.flex-just-center {
    margin-top: -10px;
    display:flex;
    justify-content:center;
}

#assign-dept-tabs {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    display: flex;
    height: 25px;
    width: fit-content;
    margin-bottom: 5px;
    padding: 0 5px;
}

#assign-dept-tabs > a {
    padding: 10px;
    cursor: pointer;
}

/*    #assign-dept-tabs > a:hover {
        text-decoration: underline;
        color: cadetblue;
    }*/

.active-tab {
    color: black !important;
    text-decoration: none;
}

    a.active-tab:hover {
        color: black !important;
        text-decoration: none !important;
        cursor: default !important;
    }

#dept-name {
    color: #6289af;
    margin-bottom: 30px;
    width: fit-content;
    border-radius: 5px;
}

#assign-department-container h5 {
    padding-bottom: 5px;
}