#dv-allocate-team-personnel {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
}

#assign-team-header{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

#assign-team-tabs:has(> *) {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: center;
    display: flex;
    height: 25px;
    width: fit-content;
    margin-bottom: 5px;
    padding: 0 5px;
}

    #assign-team-tabs > a {
        padding: 10px;
        cursor: pointer;
    }

    #assign-team-tabs > a:hover {
        text-decoration: underline;
        color: cadetblue;
    }

.active-tab {
    color: black !important;
    text-decoration: none;
}

a.active-tab:hover {
    color: black !important;
    text-decoration: none !important;
    cursor: default !important;
}

#dv-allocate-team-personnel .app-table-header:not(:first-child) {
    width: 140px !important;
}

#team-name {
    color: #6289af;
    margin-bottom: 30px;
    width: fit-content;
    border-radius: 5px;
}