#dv-dept-teams, #dv-dept-personnel {
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
}

.assign-dept-header {
    display: flex;
}

.dept-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#dv-dept-user-btns, #dv-dept-team-btns {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}