#dv-allocate-team-personnel {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
}

#assign-team-header {
    display: flex;
}

h5 {
    padding-bottom: 0px;
}

h6 {
    padding-bottom: 20px;
}

#team-permissions-link {
    margin-left: 33%;
}
