#dv-allocate-team-personnel {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
}

#assign-team-header {
    display: flex;
}

#team-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

