#dv-personnel-grid {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
}

#header-flex{
    display: flex;
    justify-content: flex-start;
    gap: 250px;
}

#dv-register-personnel {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 15px;
}

#self-register-button{
    margin-top: 3px;
    padding-left: 10px;
}

input[type='email'] {
    min-width: 220px;
}


label{
    padding-bottom: 10px;
}

.app-table-header:last-child {
    width: 70px;
}

input {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 7px;
    padding: 6px 8px;
}

#btn-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#dv-send-registration-email {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
}