#dv-manage-teams {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
}

#dv-team-btns {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#btns-container {
    display: flex;
    margin-top: 0px;
}

#dv-team-member-save-btn{
    display: flex;
    justify-content: flex-end;
}

.allocate-header {
    position: relative;
    display: flex;
    align-items: center;
}

.manage-teams-header {
    position: relative;
    display: flex;
    align-items: center;
}

/*.app-table{
    table-layout: auto !important;
}*/
