#dv-manage-departments {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
    background-color: #e8f0fe;
    padding: 30px 20px;
}

#dv-dept-btns {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#btn-container {
    display: flex;
}


#manage-depts th:first-child,
#manage-depts td:first-child {
    width: 50px !important;
    text-align: center !important;
}


