#dv-manage-departments {
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
}

#dv-dept-btns {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#btn-container {
    display: flex;
}
