#dv-manage-roles-container {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
}

#dv-role-btns {
    display: flex;
    justify-content: space-between;
}

#dv-team-btns {
    display: flex;
    justify-content: space-between;
}

