#dv-allocate-personnel, #dv-manage-teams {
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
    background-color: #e8f0fe;
    padding: 30px 20px;
}

#dv-team-btns {
    padding-top:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#btns-container {
    display: flex;
    margin-top: 0px;
}

#dv-team-member-save-btn{
    display: flex;
    justify-content: flex-end;
}

#manage-teams th:first-child,
#manage-teams td:first-child {
    text-align: center !important;
    max-width: 1px;
}


.allocate-header {
    position: relative;
    display: flex;
    align-items: center;
}

.manage-teams-header {
    position: relative;
    display: flex;
    align-items: center;
}

.app-table{
    table-layout: auto !important;
}
