#dv-personnel-grid {
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
    background-color: #e8f0fe;
    padding: 30px 20px;
}

#dv-register-personnel {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 15px;
}

#self-register-button{
    margin-top: 3px;
}

input[type='email'] {
    min-width: 220px;
}


label{
    padding-bottom: 10px;
}

.app-table-header:last-child {
    width: 70px;
}

h4 {
    margin-bottom: 40px;
}

input {
    background-color: ghostwhite;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 6px 8px;
}

#btn-container {
    margin-bottom: -10px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*#dv-header-container{
    display: flex;
    justify-content: space-between;
}*/
