#dv-personnel-grid {
/*    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: .5px 0.5px 3px 1px rgb(83 82 82 / 33%);
    background-color: #f3f4f6;
    padding: 30px 20px;*/
}

#header-flex{
    display: flex;
    justify-content: space-around;
}

#dv-register-personnel {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 15px;
}

#self-register-button{
    margin-top: 3px;
}

input[type='email'] {
    min-width: 220px;
}


label{
    padding-bottom: 10px;
}

.app-table-header:last-child {
    width: 70px;
}

h4 {
    margin-bottom: 40px;
}

input {
    background-color: ghostwhite;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 6px 8px;
}

#btn-container {
    margin-bottom: -10px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*#dv-header-container{
    display: flex;
    justify-content: space-between;
}*/
