
h4 {
    margin-bottom: 40px;
}

.text-error {
    color: #ff6b6b;
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
    display: none;
}

.form-container {
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0.5);
    background-color: #e8f0fe;
    padding: 30px 20px;
}

.dv-btn-container {
    margin-top: 60px;
    margin-bottom: 10px;
}

.secondary-btn {
    margin-left: 3px;
    display: inline;
}

.row {
    margin-bottom: 5px;
}

input {
    margin-left: 10px;
    width: 100%;
}

input, select {
    background-color: ghostwhite;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 6px 8px;
}

#phoneCountryCode {
    margin-left: 10px;
}

#phoneAreaCode {
    margin-left: 20px;
}

