

<div id="assign-department-container">

    <div id="dv-department">
        <h3>Department Name</h3>
    </div>

    <div id="dv-dept-teams">
        <div class="dept-teams-header">
            <h4>Teams</h4>
        </div>

        <button>Assign</button>
    </div>

    <br />

    <div id="dv-dept-indiv">
        <div class="dept-teams-header">
            <h4>Users</h4>
        </div>

        <button>Assign</button>
    </div>


    
</div>