

<div id="assign-department-container">

    <div id="dv-dept-teams">
        <div class="assign-dept-header">
            <h4>Assign Teams</h4>

            <h4 class="dept-name">@ViewBag.DeptName</h4>
        </div>

        <br />

        <div id="dept-team-grid-container"></div>
    </div>

    <br />

    <div id="dv-dept-personnel">
        <div class="assign-dept-header">
            <h4>Assign Personnel</h4>

            <h4 class="dept-name">@ViewBag.DeptName</h4>
        </div>

        <br />

        <div id="dept-user-grid-container"></div>
    </div>
    
</div>