
<h4 id="team-name">Team: @ViewBag.TeamName</h4>

<div id="assign-team-header">
    <div id="assign-team-tabs">
        <a href="#" class="personnel tab active-tab" tabindex="0">Assign Personnel</a>
        <a href="#" class="permissions tab" tabindex="0">Manage Permissions</a>
    </div>
</div>

<div id="dv-allocate-team-personnel">
    <h5 class="personnel active-element">Assign Personnel</h5>
    <h5 class="permissions hidden">Permissions</h5>

    <div id="dv-team-personnel" class="personnel active-element">
        <div class="content-container">
            <div id="assign-team-grid-container"></div>
        </div>
    </div>

    <div id="dv-team-permissions" class="permissions hidden"></div>

</div>
<input type="hidden" id="hdn-team-key" value="@ViewBag.TeamKey" />



