
<div id="dv-allocate-team-personnel" class="container">
    <div id="assign-team-header">
        <h4>Assign Personnel</h4>

        <h4 id="team-name">@ViewBag.TeamName</h4>
    </div>

    <div id="assign-team-grid-container"></div>

</div>
<input type="hidden" id="hdn-team-key" value="@ViewBag.TeamKey" />



