
<div id="dv-allocate-team-personnel">

    <div id="assign-team-header">
        <h5 class="teams active-element">Assign Team Personnel</h5>
        <h5 class="permissions hidden">Permissions</h5>
        <div id="assign-team-tabs">
            <a href="#" class="teams tab active-tab" tabindex="0">Assign Teams</a>
            <a href="#" class="permissions tab" tabindex="0">Manage Permissions</a>
        </div>
    </div>

    <h6 id="team-name">@ViewBag.TeamName</h6>

    <div id="dv-team-personnel" class="teams active-element">
        <div id="assign-team-grid-container"></div>
    </div>

    <div id="dv-team-permissions" class="permissions hidden"></div>

</div>
<input type="hidden" id="hdn-team-key" value="@ViewBag.TeamKey" />



