
<div id="dv-allocate-team-personnel">
    <div id="assign-team-header">
        <h5>Assign Team Personnel</h5>
        <a id="team-permissions-link" href="#" tabindex="0">Manage Permissions</a>
    </div>
    <h6 id="team-name">@ViewBag.TeamName</h6>

    <div id="assign-team-grid-container"></div>

</div>
<input type="hidden" id="hdn-team-key" value="@ViewBag.TeamKey" />



