
<div id="dv-allocate-team-personnel">
    <div id="assign-team-header">
        <h5>Assign Personnel</h5>

        <h5 id="team-name">@ViewBag.TeamName</h5>
    </div>

    <div id="assign-team-grid-container"></div>

</div>
<input type="hidden" id="hdn-team-key" value="@ViewBag.TeamKey" />



