<div id="assign-department-container">

    <div id="dv-dept-teams">
        <div class="assign-dept-header">
            <h5>Assign Teams</h5>

            <h5 class="dept-name">@ViewBag.DeptName</h5>
        </div>

        <br />

        <div id="dept-team-grid-container"></div>
    </div>

    <br />

    <div id="dv-dept-personnel">
        <div class="assign-dept-header">
            <h5>Assign Personnel</h5>

            <h5 class="dept-name">@ViewBag.DeptName</h5>
        </div>

        <br />

        <div id="dept-user-grid-container"></div>
    </div>
    
</div>
<input type="hidden" id="hdn-dept-key" value="@ViewBag.DeptKey">