

<link href="~/css/hr/_managepersonnel.css" rel="stylesheet" asp-append-version="true" />

<div id="manage-personnel-container">
    <form id="manage-personnel">
        @Html.AntiForgeryToken()
        <div id="dv-personnel-grid">

            <h4>Manage Personnel</h4>
            <table>
            </table>

            <div id="dv-register-personnel">
                <h4>Register Personnel</h4>
                <div>
                    <label for="register-email-button">Send Registration Email</label>
                    <button id="register-email-button" type="button">Send</button>
                    <input type="email" />

                    <br />

                    <label for="self-register-button">Self Register</label>
                    <button id="self-register-button" type="button">Register</button>
                </div>
            </div>
        </div>


    </form>



</div>

<script src="~/js/hr/_managepersonnel.js"></script>