@model ManageTeamsVM

<div id="manage-teams-container" class="container">
    <form id="manage-teams" class="container">
        @Html.AntiForgeryToken()


        <div id="dv-manage-teams" class="container table-responsive">
            <div class="manage-teams-header">
                <h4>Manage Teams</h4>
            </div>

            <table id="manage-teams" class="app-table table">
                <thead>
                    <tr class="app-table-row">
                        <th class="app-table-header">
                            <input type="hidden" />
                        </th>
                        <th class="app-table-header">Team</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in Model.ManageTeamsDTO.Teams)
                    {
                        <tr class="app-table-row">
                            <td class="app-table-data">
                                <input type="checkbox" />
                            </td>
                            <td class="app-table-data">
                                <a href="#" class="goto-assign-team" data-id="@* @team. *@">@team.Name</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div id="dv-team-btns" class="container">
                <div id="btn-container">
                    <button id="add-team-btn" class="primary-btn" type="button">Add</button>
                    <button id="remove-team-btn" class="warning-btn" type="button">Delete</button>
                </div>
                
                <button id="team-save-btn" class="primary-btn">Save</button>
            </div>
            

            
        </div>

    </form>
</div>