


@* <link href="~/css/hr/_managepersonnel.css" rel="stylesheet" asp-append-version="true" /> *@

<div id="manage-departments-container">
    <form id="manage-departments">
        @Html.AntiForgeryToken()

        <div id="dv-manage-departments">
            <h4>Manage Departments</h4>
            <ul id="ul-depts" class="delete-ul"></ul>
            <input id="add-dept" type="text" />
            <button id="add-dept-btn" type="button">Add</button>
            <button id="dept-save-btn">Save</button>
        </div>

    </form>
</div>

@* <script src="~/js/hr/_managepersonnel.js"></script> *@