@model ManagePermissionsVM

<div id="manage-permissions-container" class="container">
    <form id="manage-permissions" class="container">
        @Html.AntiForgeryToken()

        <div id="dv-manage-permissions" class="container">
            <h4>Manage Permissions</h4>
            <ul id="ul-permissions" class="delete-ul">
                @foreach (var p in Model.Permissions)
                {
                    <li>@p.Name</li>
                }
            </ul>

            <div id="dv-permission-btns" class="container">
                <button id="permission-save-btn" class="primary-btn">Save</button>
                <button id="add-permission-btn" class="secondary-btn" type="button">Add</button>
                <input id="add-permission" type="text" />
            </div>

        </div>

    </form>

</div>

