


@* <link href="~/css/hr/_managepersonnel.css" rel="stylesheet" asp-append-version="true" /> *@

<div id="manage-permissions-container">
    <form id="manage-permissions">
        @Html.AntiForgeryToken()

        <div id="dv-manage-permissions">
            <h4>Manage Permissions</h4>
            <ul id="ul-permissions" class="delete-ul"></ul>
            <input id="add-permission" type="text" />
            <button id="add-permission-btn" type="button">Add</button>
            <button id="permission-save-btn">Save</button>
        </div>

    </form>

</div>

@* <script src="~/js/hr/_managepersonnel.js"></script> *@