@model ManageTeamsVM

<div id="manage-teams-container" class="container">
    <form id="manage-teams" class="container">
        @Html.AntiForgeryToken()

        <div id="dv-manage-teams" class="container">
            <h4>Manage Teams</h4>
            <ul id="ul-teams" class="delete-ul">
                @foreach (var team in Model.Teams)
                {
                    <li>@team.Name</li>
                }
            </ul>

            <div id="dv-team-btns" class="container">
                <button id="team-save-btn" class="primary-btn">Save</button>
                <button id="add-team-btn" class="secondary-btn" type="button">Add</button>
                <input id="add-team" type="text" />
            </div>

            
            
        </div>

    </form>
</div>