@model ManageRolesVM

<div id="manage-roles-container" class="container">
    <form id="manage-roles" class="container">
        @Html.AntiForgeryToken()

        <div id="dv-manage-roles" class="container">
            <h4>Manage Roles</h4>

            <table id="manage-roles" class="app-table table">
                <thead>
                    <tr class="app-table-row">
                        <th class="app-table-header">
                            <input type="hidden" />
                        </th>
                        <th class="app-table-header">Role</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in Model.Roles.Where(r => r.Name != Constants.DefaultRoles.Unassigned.ToString() 
                                                                && r.Name != Constants.DefaultRoles.Principal.ToString()))
                    {
                        <tr class="app-table-row">
                            <td class="app-table-data">
                                <input type="checkbox" />
                            </td>
                            <td class="app-table-data">
                                @team.Name
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

            <div id="dv-team-btns" class="container">
                <div id="btn-container">
                    <button id="add-role-btn" class="primary-btn" type="button">Add</button>
                    <button id="remove-role-btn" class="warning-btn" type="button">Remove</button>
                </div>

                <button id="role-save-btn" class="primary-btn">Save</button>
            </div>
        </div>







    </form>
</div>



