@model ManageRolesVM

<div id="manage-roles-container" class="container">
    <form id="manage-roles" class="container">
        @Html.AntiForgeryToken()

        <div id="dv-manage-roles" class="container">
            <h4>Manage Roles</h4>
            <ul id="ul-roles" class="delete-ul">
                <li style="display:none;">Principal</li>
                <li style="display:none;">Unassigned</li>
                @foreach (var role in Model.Roles)
                {
                    <li>@role.Name</li>
                }
            </ul>
            <div id="dv-role-btns" class="container">
                <button id="role-save-btn" class="primary-btn">Save</button>
                <button id="add-role-btn" class="secondary-btn" type="button">Add</button>
                <input id="add-role" type="text" />
            </div>

            
        </div>

    </form>
</div>



