

<link href="~/css/hr/_managepersonnel.css" rel="stylesheet" asp-append-version="true" />

<h1>Manage Personnel</h1>

<div id="manage-personnel-container">

    <div id="dv-personnel-grid">
        <h4>Manage Personnel</h4>
        <table>
        </table>

        <div id="dv-register-personnel">
            <h4>Register Personnel</h4>
            <div>
                <label for="register-email-button">Send Registration Email</label>
                <button id="register-email-button" type="button">Send</button>
                <input type="email" />

                <label for="self-register-button">Self Register</label>
                <button id="self-register-button" type="button">Register</button>
            </div>
        </div>
    </div>
    
    <div id="dv-manage-departments">
        <h4>Manage Departments</h4>
    </div>

    <div id="dv-manage-teams">
        <h4>Manage Teams</h4>
    </div>

    
    <div id="dv-manage-roles">
        <h4>Manage Roles</h4>
    </div>
    

</div>

<script src="~/js/hr/_managepersonnel.js"></script>