
<div id="ticket-setup-container" style="box-sizing:border-box;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px 30px;
        background-color: white;
        width: 50%;
        margin-left: 25%;">

    <div id="ticket-setup-header" style="display:flex;justify-content:center;">
        <h3>Set Ticket Settings</h3>
    </div>

    <div id="settings-notification" style="display:flex;justify-content:center;">
        Define the names of your sections and the sprint duration to begin using tickets.
        <br />
        Ticket Settings can be changed at any time by accessing the gear icon in the right corner.
    </div>
</div>

