
<div id="ticket-setup-container">
    <h1>Tickets</h1>

    <span id="settings-notification">
        Set up your ticket sections and length of sprint to begin.
        Ticket Settings can be changed at any time by accessing the gear icon in the right corner.
    </span>
</div>

