@* <link href="~/css/Tickets/setupticketsettings.css" rel="stylesheet" asp-append-version="true" /> *@

<div id="ticket-setup-container">
    <h1>Tickets</h1>

    <span id="info">
        Ticket Settings can be changed at any time by accessing the gear icon at the right -->
    </span>

    <button class="settings-btn">
        <i class="fa-solid fa-gear"></i>
    </button>

</div>

@* <script src="~/js/tickets/_setticketsettings.js" asp-append-version="true"></script> *@