

<div id="tickets-control-container" class="container">

    <div id="tickets-control-header" class="container">

        <div class="setting-container">
            <button class="settings-btn">
                <i class="fa-solid fa-gear"></i>
            </button>
        </div>
    </div>

    <div id="tickets-partial-container" class="container">
    </div>

</div>